#sponsor_img {
    position: relative;
    text-align: center;
}

figcaption {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    background-color: black;
    color:yellow;
    opacity: 0.5;
}

#raymoo {
    max-width: 50%;
    height: auto;
    display: inline-block;
}

video {
    display: block;
    margin: 0 auto;
}