* {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: whitesmoke;
    font-weight: normal;
    font-size: 50px;
}

a {
    color: aquamarine;
}

h3 {
    color: whitesmoke;
    font-weight: 300;
    font-size: 42px;
}

#description p {
    font-size: 21px;
    color: whitesmoke;
}

#tent {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#phone {
    position: relative;
    top: 30px;
}

footer {
    text-align: right;
    color: gray;
}

@media only screen and (max-width: 950px) {
    #tent {
        max-width: 95%;
    }
}

@media only screen and (max-width: 550px) {
    video {
        max-width: 95%;
    }
}